.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.total {
  background-image: linear-gradient(to right,blue,lightblue);
}

span {
  font-size: 20px;
}

.clear {
  opacity: 0.5;
}

.front {
  text-align: center;
}

.front p {
  opacity: 0.5;
}

.col-lg-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  border-radius: 50px;
  background-color: #548CFF;
  width: 100%;
}